<div class="container">
  <h2><%= @task.title %></h2>
  <p>To do: <%= @task.details %></p>


    <%= link_to "Edit the task", edit_path, class: "add"%>

    <%= link_to "Delete",
      task_path(@task), class: "add",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>

    <%= link_to "Back to all tasks", tasks_path, class: "add"%>

</div>
